include *.md
include LICENSE
include jupyterlab_server/rest-api.yml
include jupyterlab_server/templates/*.html
recursive-include tests *.*
recursive-include docs *.*

include docs/Makefile

prune docs/build

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
