include README.md
include LICENSE
include setupbase.py
include jupyterlab_launcher/*.html

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
