name: Test downstream projects

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  downstream:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Test jupyterlab
        uses: jupyterlab/maintainer-tools/.github/actions/downstream-test@v1
        with:
          package_name: jupyterlab
          test_command: "python -m jupyterlab.browser_check --no-browser-test"
